{% extends 'base.html' %}
{% block title %}
  Shop adding Page
{% endblock %}


{% block content %}
<style>
    body{
        color: black;
    }
</style>
<header class="bg-dark  text-white text-center py-3">
    <h1>Items by Category</h1>
</header>
<div class="container my-5" >
    <div class="row">
         

        <div class="col-md-4 mb-4">
            <div class="card">    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="#">Food Shop Registration Form</a></li>
                 </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="#">Health and Beauty Registration Form</a></li>
                 </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="#">Clothing and Accessories Registration Form</a></li>
                 </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="#">Technology and Electronics Registration Form</a></li>
                 </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="#">Books and Entertainment Registration Form</a></li>
                 </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="#">Home and Furniture Registration Form</a></li>
                 </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="#">General Grocery Shops Registration Form</a></li>
                 </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="#">General and Specialty Stores Registration Form</a></li>
                 </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="#">Shopping Centers Registration Form</a></li>
                 </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="#">Services and Miscellaneous Registration Form</a></li>
                 </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">    
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a   href="#">Tourist Attractions Registration Form</a></li>
                 </ul>
            </div>
        </div>

       


    </div>
</div>
{% endblock %}
