{% extends 'base.html' %}
{% block title %}
Category Selecting Page
{% endblock %}


{% block content %}
<style>

  #V1{
    background-color: #2f3640;
    color: #f5f6fa;
    padding: 10px;
    border: 2px solid #4f4e4e;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #4a4949;
    padding-right: 120px;
    font-family: "Roboto",sans-serif; 
  }

  option{
    background-color: #2f3640;
    font-weight: 500;
    font-family: "Roboto",sans-serif;  
  }

  .btns {
    color: #090909;
    padding:3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 6px #c5c5c5 , 0px -1px 5px #c5c5c5 ;
  }

  .btns:hover {
   color: #666;
   box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 3px #ffffff;
  }  

</style>

<div  style="margin-top: 10rem; margin-bottom: 10rem; text-align: center;">
<form action="/TE_shop_template" method="POST" enctype="multipart/form-data">
   
  <div >
    <label for="V1"></label>
    <select id="V1" name="C">
        <option value="mobile_service_shop">Mobile Service Shop</option>
        <option value="laptop_service_shop">Laptop Service Shop</option>
        <option value="computer_center">Computer Center</option>
        <option value="electronics_store">Electronics Store</option>
        <option value="mobile_or_gadget_store">Mobile or Gadget Store</option>
        <option value="camera_store">Camera Store</option>
        <option value="home_appliance_store">Home Appliance Store</option>
        <option value="video_game_store">Video Game Store</option>
        <option value="audio_equipment_store">Audio Equipment Store</option>
        <option value="television_store">Television Store</option>
          
    </select> 
  </div>
  <div style="padding-top: 20px; text-align: center;">
    <button class="btns" style="padding: 5px; border-radius: 8px; padding-left: 15px; padding-right: 15px;" type="submit">Search</button> 
</div>
</form>

</div>
{% endblock %}
